{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'main/css/macstyle.css' %}">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg bg-black nav-text">
        <div class="container-xl">
            <h1 class="macbro"><a class="dropdown-item" href="{% url 'btn3' %}">MacBro</a></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-txt">
                    <li class="nav-item">
                        <h1 class="macbro2"><a class="dropdown-item" href="{% url 'btn5' %}">Mac</a></h1>
                    </li>
                    <li class="nav-item">
                        <h1 class="macbro2"><a class="dropdown-item" href="{% url 'btn6' %}">IPhone</a></h1>
                    </li>
                    <li class="nav-item">
                        <h1 class="macbro2"><a class="dropdown-item" href="{% url 'btn7' %}">IPad</a></h1>
                    </li>
                    <li class="nav-item">
                        <h1 class="macbro2"><a class="dropdown-item" href="{% url 'btn8' %}">Watch</a></h1>
                    </li>
                    <li class="nav-item ">
                        <h1 class="macbro2"><a class="dropdown-item" href="{% url 'btn10' %}">AirPots</a></h1>

                    </li>

                    <a class="macbro2" href="{% url 'btn14' %}">
                        <h1 class="macbro2">Акустика</h1>
                    </a>
                    <a class="macbro2" href="{% url 'btn13' %}">
                        <h1 class="macbro2">Аксессуары</h1>
                    </a>
                    <a class="macbro2" href="{% url 'btn15' %}">
                        <h1 class="macbro2">Смартфоны</h1>
                    </a>
                    <a class="macbro2" href="{% url 'btn16' %}">
                        <h1 class="macbro2">Samsung</h1>
                    </a>
                    <a class="macbro2" href="{% url 'btn18' %}">
                        <h1 class="macbro2">Все</h1>
                    </a>
                    <i  class="fa-solid fa-cart-shopping fa-xl " style="color: #ffffff;"></i>
                    <a href="{% url 'btn17' %}"><i class="fa-sharp fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;"></i></a>
                                  
            </div>
            </ul>
           
        </div>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/5ac26fc84a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    {% block content %}
    {% endblock %}

    
</body>

</html>