{% extends 'main/macbro.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/mac_register.css' %}">

{% endblock %}
{% block content %}
<div class="bgreg">
    <div class="container">
        <div class="sectreg">
            <h1 class="sectregister">Зарегистрируйтесь в MacBro</h1>
            <div class="register">
                <form method="post">
                    {{ form.number }}
                    {{ form.title }}
                    {{ form.surname }}
                    <button class="reg" type="submit">Зарегистрироваться</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="{% static 'main/js/regist.js' %}"></script>

{% endblock %}