* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.macbro{
    color: white;
    font-size: 26Zpx;
}
.macbro2{
    color: white;
    font-size: 15px;
}
.nav-txt{
    margin-left: 30px;
    gap: 15px;
    align-items: center;
    text-align: center;
}
.text-nav{
    align-items: center;
    display: flex;
    margin-top: 25px;
    gap: 15px;
}
.carousel-inner{
    height: 550px;
}
.novinka{
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sect1-card{
    width: 250px;
    height: 400px;
    margin: auto;
}
.sect1-card img{   
    width: 200px;
    margin-top: 40px;
    
}
.sect1-card h1{
    margin-top: 30px;
    font-size: 27px;
    font-weight: 500;
    line-height: 25px;
}
.sect1-card{
    align-items: center;
    text-align: center;
}
.sect1-cards{
    display: flex;
    justify-content: center;
    margin: auto;
}
.sect1-card p{
    font-size: 20px;
}
.buy{
    margin-top: 15px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
    background: #2567c5;
    padding: 10px 80px;
}
.fon1{
    width: 100%;
    margin-top: 20px;
}
.navbar{
    height: 85px;
}
.sect1-card:hover{
  transform: scale(1.06);
  transition: transform 1s;
}
